
@{
    ViewBag.Title = "Posts";
}










   
     
        <p>@Html.RouteLink("Sign in", "login")</p>
        <p>@Html.RouteLink("Click here to view Table of Children", "Children")</p>
        <p>@Html.RouteLink("Add a new user", "New_User")</p>

<table>
   

</table>
   



